{{ define "guest" }}
<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
    <div>
        <h1>Guest book</h1>
        <form action="/submit" method="POST">
            <input name="name" placeholder="Имя" required>
            <textarea name="message" placeholder="Сообщение" required></textarea>
            <button>send</button>
        </form>
        <hr>
        {{range .}}
        <p>
            <b>{{.Name}}</b>: {{.Message}} 
            <small>{{ .Timestamp.Format "02.01.2006 15:04:05" }}</small>
        </p>
        {{else}}
        <p>No entries.</p>
        {{ end }}
    </div>
</body>
</html>
{{ end }}
